@media (max-width: 1115.2px) {
    .navbar-list {
        position: absolute;
        top: 18%;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        border: 2px solid black;
        border-top: 0px;
        background-color: aqua;
        border-radius: 0px 0px 15px 15px;
        padding: 20px;
        z-index: 2;
        display: none;
    }
    .menu-label {
        order: 2;
        display: flex;
        cursor: pointer;
    }
    .menu-label img {
        width: 402px;
    }

    /* Mostramos Menu-Label */
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
        width: 40px;
    }
    label,
    .menu-label {
        margin-left: 29px;
    }

    #menu-toggle:checked + .navbar-list {
        display: flex;
    }
}

/* Modificacion Productos */
@media (max-width: 1400px) {
    .container-card {
        display: flex;
        flex-direction: column;
    }

    .container-card2 {
        display: flex;
        flex-direction: column;
    }
}

/* Modificacion Contacto */
@media (max-width: 1273px) {
    #contactanos {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 30px;
        width: 90%;
        margin-left: 105px;
    }
    .formulario {
        width: 50%;
    }
}

/* arreglar formulario de contacto ya que se rompe al 1030px */

@media (max-width: 1030px) {
    #contactanos {
        width: 80%;
    }
}

@media (max-width: 890px) {
    .container-contactanos {
        width: 67%;
    }
}

@media (max-width: 890px) {
    .formulario {
        width: 67%;
    }
}

/* Arreglar Sobre Nosotros */

@media (max-width: 1030px) {
    .container-info2 {
        font-size: 25px;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 30px 50px 240px;
    }
}
@media (max-width: 590px) {
    #texto {
        font-size: 18px;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 730px) {
    #sobrenosotros {
        font-size: 25px;
        width: 100%;

        padding: 100px;
    }

    #texto {
        width: auto;
    }
}

/* Poner en colum el footer */

@media (max-width: 753px) {
    .container-footer {
        display: flex;
        flex-direction: column;
    }
}

/* Arreglar Mobile 430px */

@media (max-width: 520px) {
    #contactanos {
        width: 75%;
    }
}

/* Achicar cards */
@media (max-width: 540px) {
    .formulario {
        padding: 20px 1px;
        margin-right: 90px;
    }
    .container-contactanos {
        padding: 20px 1px;
        margin-right: 90px;
    }
}

/* Arreglar Carrito Pegado Al Titulo */
@media (max-width: 417px) {
    .navbar {
        margin-left: 50px;
    }
}
