* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-register #acolor {
    color: white;
}

strong {
    color: rgb(255, 208, 0);
}

.form-register {
    width: 400px;
    background-color: rgb(20, 34, 55);
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #000;
    background-image: url(/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.form-register h4 {
    font-size: 26px;
    margin-bottom: 17px;
}

.controls {
    width: 100%;
    background: rgb(20, 34, 55);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid rgb(139, 114, 16);
    color: rgba(255, 255, 255, 0.748);
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: rgb(184, 152, 26);
}

.form-register .botons {
    width: 100%;
    background-color: rgba(255, 208, 0, 0.847);
    color: white;
    border: none;
    padding: 8px;
    margin: 16px 0px;
    font-size: 16px;
    cursor: pointer;
}
.form-register .botons2 {
    width: 40%;
    border-radius: 13px;
    background-color: rgb(39, 39, 38);
    color: white;
    border: none;
    padding: 8px;
    margin: 16px 0px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid rgba(246, 221, 0, 0.762);
    transition: all 300ms ease;
}

.form-register .botons2:hover {
    transform: translateY(-5%);
}

.form-register .botons:hover {
    background-color: rgba(255, 208, 0, 0.696);
}

#pcstore {
    color: beige;
}
