* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    list-style-type: none;
}
html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 26px 60px;
    box-shadow: 1px 2px 5px;
    top: 0;
    z-index: 1;
}

a {
    color: inherit;
}

.container-navbar {
    display: flex;
    font-size: 17px;
}
.navbar {
    display: flex;
}
.navbar-list {
    display: flex;
    gap: 37px;
    align-items: center;
    text-align: center;
    font: bold 90% monospace;
    width: 100%;
    margin-right: 120px;
}
.bar {
    transition: all 500ms ease;
}

.bar:hover {
    transform: translateY(-7%);
}
.cart {
    width: 40px;
    margin-right: 36px;

    transition: all 500ms ease;
}
.cart:hover {
    transform: translateY(-7%);
}
#a {
    transition: all 500ms ease;
    text-decoration: none;
}
#a:hover {
    color: rgb(240, 187, 30);
}
.container-logo {
    gap: 20px;
    display: flex;
    align-items: center;
    object-fit: contain;
}

.logo {
    border-radius: 14px;
    width: 13%;
}
.logo2 {
    border-radius: 10px;
    width: 20%;
    position: relative;
}

/* Modificacion del titulo ("Bienvenidos a PCSTORE" */
#titulo {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 50px;
}
#empresa {
    font-size: 33px;
    margin-bottom: 35px;
}

/* Modificacion del container-info */

#hero {
    padding: 100px 260px;
    align-items: center;
    text-align: center;
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgb(152, 147, 147);
    box-shadow: 1px 6px 30px;
    border-radius: 600px 190px 500px 600px 1000px;
    padding: 40px;
    margin-bottom: 50px;
}

.container-img {
    background-color: rgb(210, 207, 207);
    border-radius: 20px 90px;
    padding: 20px 1px;
    border: 2px solid black;
}

#precio {
    color: goldenrod;
    font-weight: 800;
    text-decoration: line-through;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#precio2 {
    color: goldenrod;
    font-weight: 800;
    text-decoration: overline;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.boton-compra {
    box-shadow: 1px 2px 4px;
    border-radius: 10px;
    background-color: blue;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 400ms ease;
    margin-top: 14px;

    align-items: center;
    justify-content: center;
    text-align: center;
}
.boton-compra2 {
    box-shadow: 1px 2px 4px;
    border-radius: 10px;
    background-color: rgb(233, 224, 224);
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 400ms ease;
    margin-top: 14px;
    text-shadow: 1px 2px 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 400ms ease;
}
.boton-compra2:hover {
    background-color: rgb(85, 85, 188);
    color: rgb(238, 236, 230);
}
.boton-compra3 {
    box-shadow: 1px 2px 4px;
    border-radius: 10px;
    background-color: rgb(233, 224, 224);
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 400ms ease;
    margin-top: 14px;
    text-shadow: 1px 2px 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 400ms ease;
}
.boton-compra3:hover {
    background-color: rgb(85, 85, 188);
    color: rgb(238, 236, 230);
}

#decoracion {
    font-weight: 500;
    background-image: linear-gradient(
        45deg,
        rgb(4, 4, 4),
        rgb(208, 171, 4),
        rgb(0, 0, 0)
    );
    background-color: red;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.boton-compra:hover {
    transform: translateY(-10%);
    background-color: rgb(85, 85, 188);
    color: rgb(238, 236, 230);
}

strong {
    color: rgb(254, 191, 31);
    text-decoration: underline;
    -webkit-text-fill-color: rgb(249, 186, 26);
    -webkit-text-stroke: 1px rgb(68, 68, 68);
}

.productos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#advantages {
    margin-top: 140px;
    background: -webkit-linear-gradient(rgb(49, 29, 29), rgb(73, 28, 128));
    -webkit-background-clip: text;
    width: 25%;
    font-size: 40px;
}

#informacion {
    background: -webkit-linear-gradient(rgb(49, 29, 29), rgb(73, 28, 128));
    -webkit-background-clip: text;

    padding: 30px 40px;
}

/* Cards para los beneficios */

.container-card {
    display: flex;

    gap: 30px;
}
.container-card2 {
    display: flex;
    margin-top: 31px;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: all 1100ms ease;
}
.producto {
    width: 100%;

    align-items: center;
    text-align: center;
    justify-content: center;
}
.producto2 {
    width: 33%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.producto3 {
    width: 37%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#titulo-productos {
}
.card:hover {
    transform: translateY(-5%);
    box-shadow: 1px 1px 4px;
}
.card {
    width: 300px;
}
.card2 {
    width: 400px;
}
.card3 {
    width: 400px;
}
/* Centrar los h2 (Llamados "beneficios" */
#centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
/* Parrafo de las Cards */

#parrafo {
    margin-top: 30px;
}

.contenido {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contenido2 {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contenido3 {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.boton-compra4 {
    margin-top: 100px;
    box-shadow: 1px 2px 4px;
    border-radius: 10px;
    background-color: rgb(233, 224, 224);
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 400ms ease;
    text-shadow: 1px 2px 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 400ms ease;
}
.boton-compra4:hover {
    background-color: rgb(85, 85, 188);
    color: rgb(238, 236, 230);
}

.aboutus {
    border-radius: 80px 100px 200px;
    width: 80%;
    padding: 90px 80px;
}

#sobrenosotros {
    background: linear-gradient(
        rgb(122, 191, 255),
        rgb(51, 120, 232),
        rgb(28, 119, 238)
    );
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 4px;
    margin-top: 80px;
    padding: 15px 100px 81px;
    width: 100%;
}

.container-info2 {
    background-image: url(/about-us-page-1024x512.png);
    background-position: center center;

    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: 3px solid rgb(255, 255, 255);
    align-items: center;
    margin-top: 50px;
    font-size: 40px;
    padding: 120px;
}

#texto {
    font-family: "Poppins", sans-serif;
    webkit-text-fill-color: yellowgreen;
    -webkit-text-stroke: 1px black;
    color: rgb(236, 229, 229);
    font-weight: 800;
    font-size: 20px;
}

/* Contactanos */

#contactanos {
    display: flex;
    padding: 15px 280px;
    margin-top: 80px;
}
.container-contactanos {
    position: initial;
    width: 50%;
    box-shadow: 2px 4px 8px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    background-image: url(/escritorio-oficina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    line-height: 3.5em;
}

#informacion-contacto {
    -webkit-text-stroke: 1px black;
    color: rgb(236, 229, 229);
    font-weight: 800;
    font-size: 20px;
    width: 100%;
    font-size: 17px;
    text-overflow: clip;
}
#titulo_formulario {
    margin-bottom: 20px;
}
#terminos_condiciones {
    margin-top: 30px;
}
.formulario {
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    width: 54%;
    box-shadow: 2px 4px 8px;
}

#mensaje {
    max-width: 100%;
    min-width: 100%;
    max-height: 40px;
    min-height: 40px;
}

#btnSend {
    width: 100%;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: #050505;
    padding: 3px;
    border-bottom: 2px solid #d1d1d1;
    background-color: #4091ec;
    border-radius: 6px;
    box-shadow: 2.5px 2.5px;
    border: 1px solid black;
    transition: all 500ms ease;
}

#btnSend:hover {
    transform: translateY(-6%);
    background-color: #0f68cd;
}

/* Ocultamos Hamburguesa y Checkbox */

#menu-toggle,
#cart-toggle,
.menu-label {
    display: none;
}

.container-footer {
    background-image: linear-gradient(
        45deg,
        rgb(80, 72, 72),
        rgb(112, 88, 88),
        rgb(46, 46, 46)
    );
    padding: 47px;
    margin-top: 120px;
    border-top: 3px solid black;
    width: 100%;
    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.logo3 {
    width: 14%;
    border-radius: 26px;
}

.sociales {
    list-style: none;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 30px;
    transition: all 500ms ease;
    margin-bottom: 40px;
}

.sociales:hover {
    transform: translateY(-16%);
}
#titulo-mapa {
    margin-bottom: 37px;
    font-size: 20px;
    font-weight: 700;
}
.container-mapa {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#copy {
    font-size: 12px;
    font-weight: 600;
    color: rgb(55, 49, 49);
}
